/*---------------------------------------------------*/
/* Navbar
/*---------------------------------------------------*/
.header .navbar{
    background-color:transparent;	
   .navbar-nav li{
		a{
		    font-family:$font-family;
			font-size:14px;
	        color:#FFF;
		    text-transform:capitalize;
	        font-weight:600;
			padding:10px 14px;
			margin:5px;
			&:active,
			&:focus,
			&.active,
            &:hover{
                background-color:transparent;
            }
		}
	    &.active a {
	        color:$color !important;
		}
	}
	.navbar-brand {
		text-shadow: 1px 1px 1px #353535;
	    color: #fff;		
        display: inline-block;
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 1px;
        -webkit-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
	.navbar-toggle{
		background-color:$color;
	    border-radius:0; 
		.icon-bar {
            background-color: #fff;
	        border-radius:0; 
        }
    }
	&.navbar-shrink {
        background-color: #fff; 
	    @include shadow;
		.navbar-nav li a{
			color:#000;	
		}
		.navbar-brand {
		    color:$color;
		}
    }
}

@media(max-width:767px) {
	.header .navbar {
	   .navbar-nav {
	       margin: 0 -15px; 
	    }
	    .navbar-collapse {
            background-color: #FFF;
	        .navbar-nav li a{
	            color:#000;
			    margin:0;
	        }
        }	
    }
}
