
/*---------------------------------------------------*/
/* Work
/*---------------------------------------------------*/
.work{
    ul.work-filter {
        padding: 0;
        list-style: none;
	    margin-bottom: 30px;
        margin-left: 8px;
        text-align: center;
    }

    ul.work-filter li {
        display: inline-block;
        padding: 8px 12px;
        margin: 0 8px;
        text-transform: capitalize;
        font-weight: 500;
        color: #000;
        border: none;
        cursor: pointer;
        font-size: 15px;
    }

    ul.work-filter li.active {
        color: #ffffff;
        background-color: $color;
        padding: 5px 20px;
        border-radius: 20px;
        box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    }
    .box-work {
        position: relative;
        overflow: hidden;
        margin-bottom:20px;
        @include shadow;		
	   .hover {
	        position: absolute;
	        top: 0;
	        left: 0;
            padding: 30px;
	        width: 100%;
	        height: 100%;
            background-color: $color;
            opacity: 0;
            visibility: hidden;
            transition: 0.4s;
			text-align: center;
        }
        &:hover .hover{
            opacity:1;
            visibility: visible;
        }
        img{
	        position: relative;
	        display: block;
        }       
        .content {
            opacity: 0;
            position: relative;
            z-index: 10;
			h4,
            p {
                color: #fff;
                margin: 0;
            }
			h4 {
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 20px;
                text-transform: capitalize;
                top: -20px;
                transition: 0.6s;
                position: relative;
            }
            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                position: relative;
                top: -20px;
                transition: 0.6s;
            }
            a {
                display: inline-block;
                font-size: 16px;
                height: 40px;
				width: 40px;
                line-height: 40px;
                background: #fff;
                color: #000;
                margin-right: 10px;
                margin-top: 15px;
                text-align: center;
                -webkit-transition: all 0.6s ease 0s;
                transition: all 0.6s ease 0s;
                transition: 0.6s;
                position: relative;
                bottom: -20px;
                border-radius: 50%;
            }
            a.link {
                margin-right: 0;  
            }
        } 
        &:hover .content {
            opacity: 1;
        } 
        &:hover .content h4, 
        &:hover .content p{
            top: 0;
        }
        &:hover .content a{
            bottom: 0;
        } 	
    }
 }
@media (max-width:350px) {
    .work{
        .box-work {  		
	        .hover {	       
                padding: 10px;
			   .content{
			        a {
                        margin-top:0;
                        bottom: 0;
                        height: 30px;
				        width: 30px;
                        line-height: 30px;
                   }
			    }
            }
        }
    }
}





